body {
    background-color: #D4A76A;
}

header {
    background-color: #FFDBAA;
    color: #553100;
    border-bottom: 1px solid black;
    padding: 50px;
}

header nav {
    padding-left: 70%;
}

button {
    background-color: #805215;
    color: white;
}

div.small-box {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 1em;
    background-color: white;
}

div.small-box article {
    display: table-cell;
    text-align: center;
    padding-bottom: 5%;
    border: 1px solid black;
}